name: 'Build'

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Archive built file
        uses: actions/upload-artifact@v4
        with:
          name: xiaomi-vacuum-map-card
          path: dist/xiaomi-vacuum-map-card.js
